<!--
<app-diretiva-ngif> </app-diretiva-ngif>
<app-diretiva-ngswitch> </app-diretiva-ngswitch>
<app-diretiva-ngfor> </app-diretiva-ngfor>
<app-diretiva-ngclass></app-diretiva-ngclass>
<app-diretivas-ngstyle> </app-diretivas-ngstyle>
<app-operador-elvis></app-operador-elvis>
<app-exemplo-ngcontet>
  Componente passado via ng Content
  <app-operador-elvis></app-operador-elvis>
</app-exemplo-ngcontet>

<app-exemplo-ngcontet>
  <div class="titulo">Titulo do painel</div>
  <div class="corpo" >Componente passado via ng Content</div>
</app-exemplo-ngcontet>

-->



<app-diretivas-customizadas> </app-diretivas-customizadas>
